#map { height: 400px; border: 0px solid maroon; }

.navbar {
    margin-bottom: 0; /* Remove any bottom margin */
    border: none; /* Ensure no borders are applied */
}

/* Additional to ensure the navbar is flush with the edges */
body, html {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center; /* Center text horizontally */
    width: 100%; /* Take full width to */
    margin-top: 20px; /* Add space at the top */
}

.display-3 {
    font-size: 3rem; /* Large text size for the title */
    font-weight: bold; /* Make the title bold */
    color: #333; /* Dark grey color for the title */
}

.lead {
    font-size: 1.5rem; /* Slightly larger than normal text for subtitle */
    color: #666; 
}

.navbar .dropdown-menu {
    z-index: 1030; /* Making sure that the entire navbar shows when map is displayed*/
}
